[submodule "SoftVarE-SlideTemplate"]
	path = SoftVarE-SlideTemplate
	url = https://github.com/SoftVarE-Group/SlideTemplate.git
[submodule "SoftVarE-Papers"]
	path = SoftVarE-Papers
	url = https://github.com/SoftVarE-Group/Papers.git
[submodule "SoftVarE-Slides"]
	path = SoftVarE-Slides
	url = https://github.com/SoftVarE-Group/Slides.git
[submodule "EagleoutIce-fancyqr"]
	path = EagleoutIce-fancyqr
	url = https://github.com/EagleoutIce/fancyqr.git
[submodule "FancyBeamer"]
	path = FancyBeamer
	url = git@github.com:SEatUPB/FancyBeamer.git
