*.aux
*.log
*.nav
*.out
*.snm
*.gz
*.toc
*.bbl
*.blg
*.tmp
*.fls
*.fdb*
.vscode
*.vrb
*.synctex*
*.listing
/pics/preprocessors/fortyproductlines-paper.pdf
/pics/interactions/variabilitybugdatabase-paper.pdf

