*.aux
*.log
*.nav
*.out
*.snm
*.gz
*.toc
*.bbl
*.blg
*.tmp
*.fls
*.fdb*
.vscode
*.vrb
*.synctex*
*.listing
/slides/spl.tex
/slides/*.pdf
/pics/preprocessors/fortyproductlines-paper.pdf
/pics/interactions/variabilitybugdatabase-paper.pdf
/pics/evonance/fmrefactoring-paper.pdf
/pics/evonance/splevolution-paper.pdf
build
